

body {
  /*background: url("../assets/bg.jpg");*/
  background-color: white;
}

.tmp {
  font-size: 20px;
  margin-left: 10px;
}

.formSubmit {
  margin-top: 30px;
}

.row {
  margin-top: 50px;
}


